Library/
Temp/
Obj/
Build/
Logs/
MemoryCaptures/
UserSettings/
*.apk
*.pidb
*.suo
*.user
*.userprefs
*.pidb.meta
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.idea/
.vscode/
.DS_Store
*.bak
*.old
*.tmp
